<div class="header-container">
  <div [ngSwitch]="href">
    <ng-template ngSwitchCase="/">
      <div class="search-container">
        <input matInput type="text" [(ngModel)]="term" placeholder="search wallpaper"
               (keyup.enter)="searchWallpapersByTitle()">
      </div>
    </ng-template>
    <ng-template ngSwitchCase="/checkout">
      <div class="main-page-button">
        <a routerLink="/">
          <button mat-raised-button>Main page</button>
        </a>
      </div>
    </ng-template>
  </div>

  <div class="basket">
    <img *ngIf="!basket.length; else fullBasket"
         src="../../assets/img/basket-black.svg" alt="basket">
    <ng-template #fullBasket>
      <a routerLink="/checkout">
        <img src="../../assets/img/basket-color.svg" alt="basket">
        <span [matBadge]="basket.length.toString()" matBadgeColor="warn"
              matBadgePosition="before"></span>
      </a>
    </ng-template>
  </div>
</div>
