<div class="header-container">
  <div class="search-container">
    <input matInput type="text" [(ngModel)]="appService.searchTerm" placeholder="search wallpaper" (keyup.enter)="searchWallpapersByTitle(appService.searchTerm)">
  </div>
  <div class="basket">
    <img *ngIf="!appService.basket.size; else fullBasket" src="../../assets/img/basket-black.svg" alt="basket">
    <ng-template #fullBasket>
      <img src="../../assets/img/basket-color.svg" alt="basket" >
      <span [matBadge]="appService.basket.size.toString()" matBadgeColor="warn" matBadgePosition="before"></span>
    </ng-template>
  </div>
</div>
