<div class="main-page-container">
  <h1 class="title">Select your wallpaper</h1>
  <div class="grid-container" infiniteScroll [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
      <div class="wallpaper" *ngFor="let photo of appService.filteredPhotos">
        <img src="{{photo.url}}" alt="{{photo.title}}"
             (click)="openPopup(photo.id)">
        <div class="price-container">
          <mat-checkbox class="select-checkbox" (change)="selectPhoto(photo.id)"
                        type="checkbox" [checked]="photo.isSelected"></mat-checkbox>
          <img src="../../assets/img/arrow.svg" alt="">
          <span class="price">${{photo.price}}</span>
        </div>
      </div>
  </div>

</div>
<div class="popup" *ngIf="openedPhoto">
  <div class="popup-background" (click)="closePopup()"></div>
  <div class="popup-content">
    <img src="{{openedPhoto.url}}" alt="{{openedPhoto.title}}">
    <button mat-raised-button (click)="addToBasketFromPopup()">Buy</button>
  </div>
</div>
<button *ngIf="selectedPhotos.length !== 0" mat-raised-button (click)="addToBasket()"
        class="buy-button">Buy {{selectedPhotos.length}}</button>
<div class="settings" *ngIf="!popupIsShowed; else settingsPopup">
  <img src="../../assets/img/settings.svg" alt="settings" (click)="showSettingsPopup()">
</div>
<ng-template #settingsPopup>
  <div class="settings-popup">
    <h3>Filters</h3>
    <div>
      <div>
        <h4>Price</h4>
        <mat-slider thumbLabel tickInterval="1" min="1" max="10"
                    [(ngModel)]="priceFilterValue"></mat-slider>
      </div>
      <div>
        <h4>Popularity</h4>
        <mat-form-field>
          <mat-label>Stars</mat-label>
          <mat-select>
            <mat-option *ngFor="let star of stars" [value]="star.value" (onSelectionChange)="onStarFilterValueChanged($event)">
              {{star.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <button mat-raised-button (click)="applyFilters()">Apply filters</button>
  </div>
</ng-template>
