<div class="page-wrapper">
  <div class="title">
    <h1>Check before purchase</h1>
  </div>
  <div class="products">
    <div class="product-container" *ngFor="let photo of basket">
      <div class="product-info">
        <img src="{{photo.urlSmall}}" alt="">
        <div class="product-name">
          Photo ID: {{photo.id}}
        </div>
      </div>
      <p class="price">Price: ${{photo.price}}</p>
      <div class="remove-button">
        <button mat-raised-button (click)="removePhoto(photo.id)">x</button>
      </div>
    </div>
  </div>

  <form class="promo-block" [formGroup]="promoForm" (ngSubmit)="submitPromo()">
    <h2>Enter promo code</h2>
    <input matInput type="text" formControlName="promo">
    <button type="submit" mat-raised-button [disabled]="promoForm.invalid">OK</button>
  </form>

  <div class="total-block">
    <h2>TOTAL</h2>
    <div class="costs">
      <div class="cost">
        $
        <span [ngStyle]="{textDecoration: isPromoApplied ? 'line-through' : ''}">
    {{initialCost}}
    </span>
      </div>
      <div class="cost" *ngIf="finalCost">
        $
        <span>
    {{finalCost}}
    </span>
      </div>
    </div>
  </div>

  <div class="purchase-button">
    <button mat-raised-button (click)="purchase()">PURCHASE</button>
  </div>
</div>

<div class="popup" *ngIf="isPurchasePopupShowed">
  <div class="popup-background"></div>
  <div [ngSwitch]="isPurchaseSucceed" class="popup-content">
    <ng-template ngSwitchCase="0">
      <h1>Purchase has failed</h1>
      <button mat-raised-button (click)="purchase()">Try again</button>
    </ng-template>
    <ng-template ngSwitchCase="1">
      <div class="popup-info">
        <h1>Thank you!</h1>
        <h3>Payment has passed</h3>
      </div>
      <a routerLink="">
        <button mat-raised-button (click)="clearAll()">Main page</button>
      </a>
    </ng-template>
    <ng-template ngSwitchDefault>
      <mat-spinner></mat-spinner>
    </ng-template>
  </div>
</div>
